[submodule "subprojects/stb"]
	path = subprojects/stb
	url = https://github.com/nothings/stb.git
[submodule "subprojects/VulkanMemoryAllocator-Hpp"]
	path = subprojects/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp.git
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw.git
